.productCard{
    background-color: blue;
    margin: 0 auto;
    display: block;
    width: 50%;
}

.card--title{
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
  }

  .product-title{
      color: coral;
  }
    